@charset "UTF-8";

// 2. Base stuff
@use "base/base";
@use "base/typography";

// 3. Layout-related sections
@use "layout/layout";

// 4. Components
@use "components/button";
@use "components/caixa";
@use "components/footer";
@use "components/popup";

// 5. Pages
@use "pages/inscricao";
@use "pages/passo";
