@use "../abstracts/helpers" as v;

.popup--aberto {
  & .popup {
    display: flex;
  }
}

.popup {
  z-index: 999;
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  display: none;
  align-items: center;
  justify-content: center;
  width: 100%;
  background-color: rgba(#fff, 0.9);
  backdrop-filter: blur(3px);

  &__botao {
    @extend %botao;

    &--amarelo {
      @extend %botao--amarelo;
    }
  }

  &__container {
    background-color: #fff;
    width: 50rem;
    max-width: 95%;
    box-shadow: inset 0 0 1rem 0.5rem rgba(black, 0.15);
    padding: 3.12rem;
    border-radius: 2rem;
    position: relative;
    @include v.flex($direction: column, $gap: 2rem);
  }

  &__inputs {
    display: flex;
    flex-flow: column;
    gap: 0.8rem;
  }

  &__input {
    padding: 0.82rem 1.28rem;
    border-radius: 2rem;
    border: solid 2px #000;
    font-size: inherit;

    &--amarelo {
      border-color: v.$cor-amarelo;
    }

    &:focus-visible {
      outline: none;
      box-shadow: 0 0 1rem rgba(v.$cor-amarelo, 0.5);
    }
  }

  &__fechar {
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(25%, -25%);
    @include v.flex($align: center, $justify: center, $gap: 2rem);
    width: 3.5rem;
    height: 3.5rem;
    font-size: 1.92rem;
    font-weight: 700;
    line-height: 1;
    border: solid 2px #000;
    border-radius: 50%;
    color: #fff;
    cursor: pointer;

    &--amarelo {
      border-color: darken(v.$cor-amarelo, 30%);
      background-color: v.$cor-amarelo;
    }

    &:hover {
      border-width: 1.9px;
    }
  }
}
