@use "../abstracts/helpers" as v;

/**
 * Basic typography style for copy text
 */

body {
  font-family: "Montserrat", sans-serif;
  font-size: 1.6rem;
  line-height: 1.4;
  color: v.$cor-preta;
}

b,
strong {
  font-weight: 600;
}

.titulo {
  @extend %titulo;
  font-weight: 500;
  & span {
    color: v.$cor-azul-claro;
    font-weight: 600;
  }
  &--pequeno {
    @include v.respond(tiny) {
      font-size: 2.76rem;
    }
  }
}

.subtitulo {
  @extend %subtitulo;
  color: white;

  & span {
    color: v.$cor-amarelo;
  }
}
