@use "../abstracts/helpers" as v;

.passo {
  @include v.flex($direction: column, $gap: 1.6rem);
  &__cabecalho {
    @include v.flex($align: center, $gap: 0.8rem);
  }

  &__caixa-icone {
    width: 4.3rem;
    height: 4.3rem;
    background-color: v.$cor-azul-claro;
    padding: 0.82rem;
    border-radius: 0.8rem;
  }

  &__icone {
    max-width: 100%;
  }

  &__titulo {
    @extend %subtitulo;
    &--azul {
      color: v.$cor-azul-claro;
    }
  }
}
